@media (max-width: 768px) {
  .wrapper,
  ul {
    display: block;
    text-align: center;
  }
  .nav-a {
    display: block;
  }

  .logo {
    text-align: left;
  }
  .burger-icon {
    color: #fff;
    display: block;
    font-size: 30px;
    position: absolute;
    top: 40px;
    right: 30px;
    cursor: pointer;
  }
  .menu-ul {
    display: none;
  }
  .menu-ul,
  .open-menu {
    display: block;
  }
  .main {
    flex-wrap: wrap;
    img {
      width: 100%;
      height: auto;
    }
  }

  .footer {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .list-content {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 320px) {
  .main {
    img {
      width: 100%;
      height: auto;
    }
    .main-text {
      font-size: 14px;
    }
  }
}
