@media (max-width: 768px) {
  .wrapper,
  ul {
    display: block;
    text-align: center;
  }
  .nav-a {
    display: block;
  }

  .logo {
    text-align: left;
  }
  .burger-icon {
    color: #fff;
    display: block;
    font-size: 30px;
    position: absolute;
    top: 40px;
    right: 30px;
    cursor: pointer;
  }

  ul#menu,
  .open-menu {
    display: block;
  }
  ul#menu {
    display: none;
  }
  .main {
    flex-wrap: wrap;
    // padding-inline-start: 2%;
    img {
      width: 100%;
      height: auto;
    }
    h1,
    p {
      text-align: center;
      width: 100%;
    }
  }
  .travel-wrapper,
  .activity-wrapper {
    .boxes {
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
    }
    h3 {
      text-align: center;
      width: 100%;
    }
  }

  .footer {
    flex-direction: column;
    width: 50%;
  }

  .list-content {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 320px) {
  .activity-wrapper {
    .boxes {
      .box1,
      .box2 {
        flex-direction: column;
        width: 100%;
        column-gap: 40px;
      }
    }
  }
  .main {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
    h1 {
      font-size: 50px;
    }
    p {
      font-size: 16px;
    }
  }

  .footer {
    align-items: center;

    flex-wrap: wrap;
  }
  .copyright {
    flex-direction: column;
  }
}
