@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import "./reset";
@mixin dFlex($justifyContent, $alignItems) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}
body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
}
html {
  scroll-behavior: smooth;
}

.header-wraper {
  height: 154px;
}
.wrapper {
  @include dFlex(space-between, center);
  height: 154px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  img {
    width: 70px;
    height: 70px;
  }

  .logo {
    &:hover {
      opacity: 75%;
    }
  }

  .burger-icon {
    display: none;
  }

  .ul-menu {
    @include dFlex(start, center);
    column-gap: 5%;
    li {
      a {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -0.025em;
        color: rgba(0, 0, 0, 0.76);
        &:hover {
          color: #3685fb;
          opacity: 75%;
        }
      }
    }
  }
  .booking1 {
    color: white;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.025em;
    background: #84167f;
    border-radius: 50px;
    width: 181px;
    height: 58px;
    @include dFlex(center, center);
    &:hover {
      color: #d671d1;
      opacity: 75%;
    }
  }
}

.main {
  @include dFlex(center, center);
  padding-top: 10%;
  padding-bottom: 10%;
  padding-inline-start: 5%;
  column-gap: 10%;

  h1 {
    line-height: 96px;
    font-weight: 700;
    font-size: 68.385px;
    letter-spacing: -0.025em;
    color: #091f3f;
  }
  p {
    margin-top: 5%;
    height: 50%;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.025em;
    color: #898989;
    width: 80%;
    margin-bottom: 10%;
  }
  .booking2 {
    color: white;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.025em;
    background: #84167f;
    border-radius: 70px;
    padding: 5%;
    &:hover {
      color: #d671d1;
      opacity: 75%;
    }
  }
}

.box-wrapper {
  @include dFlex(center, center);
  height: 700px;
  background: linear-gradient(
    to bottom,
    #d392d6 0%,
    #9153ab 50%,
    #fff 50%,
    #fff 100%
  );
}

.box {
  width: 80%;
  height: 80%;
  background-image: url("../images/nature2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 140.4%;
  letter-spacing: -0.025em;
  color: #ffffff;
  padding-bottom: 40px;
  text-align: center;
}

.booknow {
  @include dFlex(center, center);
  width: 261px;
  height: 72px;
  background: #ffffff;
  border-radius: 50px;
}
.btn {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.025em;
  background-image: linear-gradient(90deg, #e246ef 0%, #469eef 100%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -moz-text-fill-color: transparent;
}
.travel-wrapper {
  @include dFlex(center, center);
  flex-wrap: wrap;
  margin-top: 5%;
  flex-direction: column;
  column-gap: 59px;
  h3 {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: -0.025em;
    color: #091f3f;
    margin-bottom: 5%;
  }
}
.boxes {
  @include dFlex(space-between, center);
  flex-wrap: wrap;
  height: 70%;
  p {
    @include dFlex(center, center);
    width: 300px;
    height: 450px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    letter-spacing: -0.025em;
    color: #ffffff;
    margin-right: 20px;
    margin-bottom: 5%;
  }

  .resort,
  .beach,
  .camping {
    background: #84167f;
    background-position: start;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    border-radius: 20px;
  }
  .resort {
    background-image: url("../images/resort.jpg");
  }
  .camping {
    background-image: url("../images/camping.jpg");
  }
  .beach {
    background-image: url("../images/beach.jpg");
  }
}
.activity-wrapper {
  @include dFlex(center, center);
  flex-wrap: wrap;
  margin-top: 10%;
  flex-direction: column;

  h3 {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: -0.025em;
    color: #091f3f;
    margin-bottom: 5%;
  }

  .boxes {
    @include dFlex(space-between, center);
    flex-wrap: wrap;

    p {
      align-items: flex-end;
      padding-bottom: 7%;
      font-weight: 600;
      font-size: 30px;
      line-height: 51px;
      letter-spacing: -0.025em;
      color: #ffffff;
    }

    .box1,
    .box2 {
      @include dFlex(center, center);
      flex-wrap: wrap;
      width: 100%;
    }
    .bridge,
    .climbing,
    .Paragliding,
    .baloon {
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

    .bridge {
      background-image: url("../images/bridge.jpg");
    }
    .climbing {
      background-image: url("../images/climbing.jpg");
    }
    .Paragliding {
      background-image: url("../images/paragliding.jpg");
    }
    .baloon {
      background-image: url("../images/baloon.jpg");
    }
  }
}

// Form

form {
  width: 100%;
  .container {
    @include dFlex(center, center);
    flex-direction: column;
    background-image: url("../images/Rectangle.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

label {
  @include dFlex(center, center);
  padding-top: 8%;
  width: 50%;
  margin: 0 auto;
  padding: 5%;
  font-weight: 600;
  font-size: 44px;
  line-height: 54px;
  letter-spacing: -0.025em;
  color: #140633;
  text-align: center;
}

.input-group {
  @include dFlex(center, center);
  width: 50%;
  margin: 0 auto;
}

input[type="email"] {
  width: 80%;
  padding: 2%;
  margin-right: 2%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 50px;
}

input[type="submit"] {
  color: white;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.025em;
  background: #84167f;
  padding: 2%;
  border: 2px solid #84167f;
  border-radius: 50px;
  cursor: pointer;
  &:hover {
    color: #d671d1;
    opacity: 75%;
  }
}

// Footer//

.footer {
  display: flex;
  column-gap: 250px;
  margin-left: 5%;
  margin-top: 5%;

  .footer-box {
    width: 100%;
    color: rgba(0, 0, 0, 0.76);
    h4 {
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      margin-bottom: 5%;
    }
    .list1,
    .list2,
    .list3 {
      a {
        color: rgba(0, 0, 0, 0.76);
      }
    }
    .list-content {
      @include dFlex(start, start);
      width: 100%;
      column-gap: 30%;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      p {
        margin-bottom: 10%;
      }
    }
  }
  .footer-content {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.025em;
    color: rgba(0, 0, 0, 0.76);

    .list4 {
      p {
        width: 75%;
        color: rgba(0, 0, 0, 0.76);
        margin-bottom: 10%;
      }
    }
  }
}

.linec {
  column-gap: 5%;
  margin-left: 5%;

  .line {
    margin-top: 5%;
    width: 90%;
    height: 0px;
    border: 1px solid rgba(0, 0, 0, 0.76);
    background-color: rgba(0, 0, 0, 0.76);
  }
  .copyright {
    @include dFlex(space-between, start);
    margin-top: 5%;
    column-gap: 5%;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.76);
    width: 50%;
    padding-bottom: 5%;
  }
}
@import "./responsive";
